.head{
  color:black;
position :relative;
left:42%;
display:inline-block;
}

.body{
  border:2px solid black;
 height:570px;
 width:600px;
 position:relative;
 left:25%;
}

.footer{
  height:20px;
  width:100px;
  position:absolute;
  top:600px;
  left:45%;
  display:flex;
  overflow: scroll;
}

.footer::-webkit-scrollbar{
 display:none;}


 .btn1{
  position:relative;
  left:200px;
 }


.f1{
  height:18px;
  width:30px;
  flex-shrink: 0;
  text-align: center;
}

.btn2{
  position:relative;
  left:670px;
}


.active{
  color: chocolate;
  height:18px;
  width:30px;
  flex-shrink: 0;
  text-align: center;
}

#theme{
  padding-left:50px;
}